section {
    background: url(background5.jpg) no-repeat;
    background-position: center;
    background-size: cover;
}

video {
    height: 500px;
    width: 500px;
}

div span {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    font-size: 100px;
    font-family: 'Times New Roman';
    font-weight: bolder;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

div span {
    /*-webkit-text-stroke: 1px #fff*;*/
    color: transparent;
    background-image: linear-gradient(blue, blue);
    background-repeat: no-repeat;
    -webkit-background-clip: text;
    background-position: -750px 0;
    animation: backcolor 5s linear infinite alternate;
}

@keyframes backcolor {
    100% {
        background-position: 0 0;
    }
}

ul {
    font-size: medium;
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 0;
    left: 0;
    text-decoration: none;
    margin-left: 40%;
}

ul li {
    text-decoration: none;
    list-style: none;
    color: #fff;
}

ul li a {
    text-decoration: none;
    list-style: none;
    color: #fff;
}

ion-icon {
    color: red, red, green;
}

ul li a:hover {
    color: red;
    text-decoration: underline;
}

.main {
    position: relative;
    margin-top: 50%;
}

.mmm {
    font-size: 80px;
    font-family: 'Times New Roman', Times;
    justify-content: center;
    align-items: center;
    margin-left: 70px;
    display: inline-block;
}

h4 {
    overflow: hidden;
}